//@import url("node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import '_custom';

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 200px;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    font-family: $font-family-serif;
    font-size: 16px;
}

.hero-scene {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/giraffes.jpg);
        background-size: cover;
        filter: brightness(0.5);

    }

    * {
        position: relative;
    }

    .hero-scene-content {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }
}

.text-justify {
    text-align: justify;
}

h2,
h1 {
    font-family: $font-family-title;
    font-weight: bold;
}

h3 {
    font-family: $font-family-title;
    font-size: 20px;
}

a {
    font-family: $font-family-sans-serif;
}

.cadremodal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.lion {
    flex: 1 1 auto;
}

ul {
    font-family: $font-family-serif;
    list-style: none;

    a {
        font-family: $font-family-serif ;
    }
}

#servicesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.service {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $light;
    padding: 20px;
    width: 100%;
    border-radius: 1rem;
    border: 2px solid $dark;
    margin-left: 2rem;
    margin-right: 2rem;
}

.servicecontent{
    display: flex;
    align-items: center;
    justify-content: space-around;

    img{
        border-radius: 1rem;
    }
}
.service h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: black;
}

.service p {
    font-size: 1em;
    margin: 0;
}

#table {
    padding: 2em;
    width: 100%;
}

.AvisCarousel {
    position: relative;
    text-align: start;
}

.AvisCarousel .carousel-control-prev-icon,
.AvisCarousel .carousel-control-next-icon {
    width: 40px;
    height: 40px;
}

.AvisCarousel .carousel-control-prev,
.AvisCarousel .carousel-control-next {
    width: 30%;
}

.cardAvis {
    -webkit-box-shadow: 0px 0px 27px 7px rgba(119, 172, 242, 0.62);
    -moz-box-shadow: 0px 0px 27px 7px rgba(119, 172, 242, 0.62);
    box-shadow: 0px 0px 27px 7px rgba(119, 172, 242, 0.62);
    border-radius: 5px;
}

.card-title {
    background-color: $primary;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
    font-family: $font-family-serif;
}

.card-text {
    padding: 1rem;
    margin-bottom: 15px;
    font-family: $font-family-serif;
}

.form-control{
    border-width: 2px;
}

.form-check-input{
    border-width: 2px;
    border-color: black;
}

.form-check-label{
    font-family: $font-family-serif;
    font-size: 20px;
    margin-left: 1rem;
    margin-right: 2rem;
}

.textavisavalider{
    background-color: $primary;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 1rem;
}

#attenteValidation p{
    font-size: 18px;
}

.form-check{
    display: flex;
    min-height: 1.5rem;
    padding-left: 1.5em;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 1rem;

    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.articlehabitats{
    background-color: $secondary;
    margin: 2rem;
    border: solid 2px $primary;
    border-radius: 1rem;
}

.home .container{
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem;
}

@media only screen and (min-width: 1024px){
    .body{
        margin-right: 10rem;
        margin-left: 10rem;
    }
    
}